[submodule "python-constraint"]
	path = python-constraint
	url = https://github.com/fjwillemsen/python-constraint.git
[submodule "ATF/extern/pybind11"]
	path = ATF/extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "ATF/ATF"]
	path = ATF/ATF
	url = https://gitlab.com/mdh-project/atf.git
